<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Page Layout</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">

</head>
<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-center">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link font-weight-bold" th:href="@{/user/index}">Home</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/formproduit}">Produits</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Catégories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Catalogue</a>
        </li>

    </ul>
    <ul class="nav navbar-nav float-right">
        <li>
            <a class="btn " th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>
<section layout:fragment="content1">

</section>
<footer>
    <div class=""></div>

</footer>
</body>
</html>